.u-color--gray-ltr {
  background-color: $clr-gray-ltr !important;
}

.u-color--gray-lt {
  background-color: $clr-gray-lt !important;
}

.u-color--gray {
  background-color: $clr-gray !important;
}

.u-color--gray-dk {
  background-color: $clr-gray-dk !important;
}

.u-color--gray-dkr {
  background-color: $clr-gray-dkr !important;
}
