.u-color--gray-ltr {
  background-color: $clr-gray-ltr;
}

.u-color--gray-lt {
  background-color: $clr-gray-lt;
}

.u-color--gray {
  background-color: $clr-gray;
}

.u-color--gray-dk {
  background-color: $clr-gray-dk;
}

.u-color--gray-dkr {
  background-color: $clr-gray-dkr;
}
