@for $i from 0 through 12 {
  .u-mb--#{$i} {
    margin-bottom: #{$i}rem !important;
  }

  .u-mt--#{$i} {
    margin-top: #{$i}rem !important;
  }

  .u-ml--#{$i} {
    margin-left: #{$i}rem !important;
  }

  .u-mr--#{$i} {
    margin-right: #{$i}rem !important;
  }

  .u-pb--#{$i} {
    padding-bottom: #{$i}rem !important;
  }

  .u-pt--#{$i} {
    padding-top: #{$i}rem !important;
  }
}

.u-mb--auto {
  margin-bottom: auto !important;
}

.u-mt--auto{
  margin-top: auto !important;
}
