@import "../variables.scss";

.u-type--sm {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.u-type--base-lt {
  color: $clr-base-lt;
}

.u-type--base-dk {
  color: $clr-base-dk;
}

.u-type--primary {
  color: $clr-primary;
}

.u-type--primary-dkr {
  color: $clr-primary-dkr;
}

.u-type--secondary {
  color: $clr-secondary;
}