@import "../variables.scss";

html {
  font-size: 8px;
}

body {
  line-height: 1.5em;
  font-size: $fs-base;
  font-family: $ff-base;
  color: $clr-base;
}

/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 24px;
  font-weight: bold;
  font-family: $ff-strong;
}

h1 {
  font-size: 3.5em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
  line-height: 1em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.2em;
}

h4 {
  font-size: 1.125em;
  line-height: 1.333em;
}

h5, h6 {
  font-size: 1em;
  line-height: 1.5em;
}

/*--- PARAGRAPHS ---*/

p {
  margin-bottom: 24px;
}

/*--- LISTS ---*/
ul, ol {
  margin-bottom: 24px;
}

ul {
  list-style: square outside;
}

ul ul,
ol ol {
  margin: 0 0 0 60px;
}

/*--- LINKS ---*/
a {
  color: #09f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
